<div id="navWrap">
      <div id="nav">
          <ul>
          {{#foreach navigation}}
              <li>
                   <a href="{{url absolute="true"}}" class="smoothScroll">{{label}}</a>
              </li>
          {{/foreach}}
          </ul>    
          <br class="clearLeft" />
      </div>
</div>
